{
   "extends": ["./node_modules/@toba/develop/.eslintrc"],
   "rules": {
      "no-console": "off",
      "no-continue": "off",
      "n,
      o-param-reassign": "off"
   },
   "env": {
      "browser": true,
      "node": true
  }
}
